<!DOCTYPE html>

<html>
<head>
<script type="text/javascript" charset="utf-8">
</script>
</head>
<body>
<form action="/friend_search" method="post" >
friend_search<br/>
token : <input type="text" name="token" value="4a88decf09e2538310d4f114bc8681e7f1bcf67f646d14268b5c14b47207ba61"/><br/>
code : <input type="text" name="code" value="testUser1"/><br/>
f_code : <input type="text" name="f_code" value="testUser1"/><br/>
<input type="submit" value="ok">
</form>

<form action="/friend_add" method="post" >
<br/>
<br/>
friend_add<br/>
code : <input type="text" name="code" value="testUser1"/><br/>
f_code : <input type="text" name="f_code" value="testUser1"/><br/>
<input type="submit" value="ok">
</form>
<form action="/friend_selectList" method="post" >
friend_selectList<br/>
code : <input type="text" name="code" value="testUser1"/><br/>
<input type="submit" value="ok">
</form>
<form action="/friend_remove" method="post" >
<br/>
<br/>
friend_remove<br/>
code : <input type="text" name="code" value="testUser1"/><br/>
f_code : <input type="text" name="f_code" value="testUser1"/><br/>
<input type="submit" value="ok">
</form>
<form action="/friend_request" method="post" >
<br/>
<br/>
friend_request<br/>
code : <input type="text" name="code" value="testUser1"/><br/>
f_code : <input type="text" name="f_code" value="testUser1"/><br/>
<input type="submit" value="ok">
</form>

<form action="/friend_request_list" method="post" >
<br/>
<br/>
friend_request_list<br/>
code : <input type="text" name="code" value="testUser1"/><br/>
<input type="submit" value="ok">
</form>
<form action="/friend_request_confirm" method="post" >
<br/>
<br/>
friend_request_confirm<br/>
code : <input type="text" name="code" value="testUser1"/><br/>
f_code : <input type="text" name="f_code" value="testUser1"/><br/>
status : <input type="text" name="status" value="00"/><br/>
<input type="submit" value="ok">
</form>


</body>
</html>