<!DOCTYPE html>

<html>
<head>
<script type="text/javascript" charset="utf-8">
</script>
</head>
<body>
/sendMsg<br/>
<form action="/sendMsg" id="fileform" method="post" enctype="multipart/form-data">
send_code : <input type="text" name="send_code" value="testUser1"/><br/>
receive_code : <input type="text" name="receive_code" value="testUser1"/><br/>
sec : <input type="text" name="sec" value="3"/><br/>
token : <input type="text" name="token" value="4a88decf09e2538310d4f114bc8681e7f1bcf67f646d14268b5c14b47207ba61"/><br/>
image : <input type="file" name="image"></input>
<input type="submit" value="ok" />
</form>
<br/>
<br/>
/getMsg<br/>
<form action="/getMsg" id="fileform" method="post">
msghistoryseq : <input type="text" name="msghistoryseq" value="8"/><br/>
receive_code : <input type="text" name="receive_code" value="testUser1"/><br/>
<input type="submit" value="ok" />
</form>
<br/>
<br/>
/getNoreadMsgList
<form action="/getNoreadMsgList" id="fileform" method="post">
code : <input type="text" name="code" value="testUser1"/><br/>
<input type="submit" value="ok" />
</form>
</body>
</html>