<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<script type="text/javascript" charset="utf-8">

</script>
<title>Insert title here</title>
</head>
<body>
id : <input type="text" id="id" value="ididididid"/><br/>
msg : <input type="text" id="msg" value="picture is here!!!"/><br/>
device : <input type="text" id="device" value="4a88decf09e2538310d4f114bc8681e7f1bcf67f646d14268b5c14b47207ba61"/><br/>
<input type="file" id="fileInput"></input>
</body>
</html>